osgi.jaxrs.application.base=/neato
osgi.jaxrs.name=Xtivia.Service.Guard.DXP.2.Sample2
auth.verifier.guest.allowed=true
oauth2.scopechecker.type=none
liferay.access.control.disable=true
osgi.jaxrs.extension.select=(osgi.jaxrs.name=jaxb-json)
auth.verifier.auth.verifier.PortalSessionAuthVerifier.check.csrf.token=false
